.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 50px;
    font-family: Arial;

}
.button{
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    height: 100px;
    width: 200px;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 100px;
    margin-top: 50px;
    cursor: pointer;
    align-items: center;
    
  }
  .button:hover{
    background-color: white;
    color: black;
    transition: background-color 0.3s;
  }
  .div-lazyload{
    margin-bottom: 10px;
  }
  .p-loading{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: black;
  }