.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}


.divContainer{
  height: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paragraph{
  font-size: 100px;
  font-weight: bold;
  color: black;
  font-family: Arial;
}
.button{
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  height: 100px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  
}
.button:hover{
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}


.footer{
  background-color: 68, 176, 158;
}
.divMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sociallinks{
  height: 120px;
  background-color: 68, 176, 158;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  
  
}
.firstContainer{
  height: auto;
}